* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navy-blue: #003366;
    --red: #cc3333;
    --white: #ffffff;
    --light-gray: #f4f4f4;
    --dark-gray: #444444;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--white);
    color: var(--dark-gray);
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--navy-blue);
    color: var(--white);
    padding: 1rem 2rem;
}

header h1 {
    font-size: 2.5rem;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.1rem;
}

nav ul li a:hover {
    color: var(--red);
}

.discover-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    padding: 1rem;
}

.sidebar {
    background: var(--light-gray);
    padding: 1rem;
    border-radius: 8px;
}

.gallery {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

h2{ 
    text-align: center;
    color: var(--dark-gray);
}

.gallery img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .discover-grid {
        grid-template-columns: 1fr;
    }

    .gallery img:hover {
        transform: none;
    }
}

footer {
    background-color: var(--navy-blue);
    color: var(--white);
    padding: 1rem;
    text-align: center;
    margin-top: auto;
}

footer a {
    color: var(--white);
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: var(--red);
}

footer p {
    margin: 5px 0;
}

