html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #002147;
    color: #002147;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #FF4136;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
}

button {
    background-color: #e63946;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #d62839;
}

footer {
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #FF4136;
    color: #fff;
    font-size: 0.9em;
}